#center
{
    margin: auto;
    margin-top: 125px;
    text-align: center;
}
#text_search
{
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    height: 43px;
    width: 556px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    font-weight: 450;
    font-size: 14px;
}
.buttons
{
    margin: 14px;
    width: 134px;
    height: 35px;
    border-radius: 7px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

